[submodule "sub/bost.ocks.org"]
	path = sub/bost.ocks.org
	url = https://github.com/medea-project/bost.ocks.org.git
[submodule "sub/dc.js"]
	path = sub/dc.js
	url = https://github.com/medea-project/dc.js.git
[submodule "sub/nvd3"]
	path = sub/nvd3
	url = https://github.com/medea-project/nvd3.git
[submodule "sub/d3.parsets"]
	path = sub/d3.parsets
	url = https://github.com/medea-project/d3-parsets.git
[submodule "sub/contour-plot"]
	path = sub/contour-plot
	url = https://gist.github.com/11396357.git
[submodule "sub/self-organizing-map"]
	path = sub/self-organizing-map
	url = https://gist.github.com/11396449.git
[submodule "sub/stacked-to-grouped-bars"]
	path = sub/stacked-to-grouped-bars
	url = https://gist.github.com/11396533.git
[submodule "sub/sunburst-partition"]
	path = sub/sunburst-partition
	url = https://gist.github.com/11397418.git
[submodule "sub/cluster-dendogram"]
	path = sub/cluster-dendogram
	url = https://gist.github.com/11397591.git
[submodule "sub/bubble-chart"]
	path = sub/bubble-chart
	url = https://gist.github.com/11397644.git
[submodule "sub/streamgraph"]
	path = sub/streamgraph
	url = https://gist.github.com/11397672.git
[submodule "sub/circle-packing"]
	path = sub/circle-packing
	url = https://gist.github.com/11397653.git
[submodule "sub/wbgds"]
	path = sub/wbgds
	url = https://github.com/medea-project/wbgds.git
[submodule "sub/scatterplot"]
	path = sub/scatterplot
	url = https://gist.github.com/11398002.git
[submodule "sub/stacked-area-chart"]
	path = sub/stacked-area-chart
	url = https://gist.github.com/11398014.git
