[submodule "sub/bost.ocks.org"]
	path = sub/bost.ocks.org
	url = https://github.com/medea-project/bost.ocks.org.git
[submodule "sub/dc.js"]
	path = sub/dc.js
	url = https://github.com/medea-project/dc.js.git
[submodule "sub/nvd3"]
	path = sub/nvd3
	url = https://github.com/medea-project/nvd3.git
[submodule "sub/d3.parsets"]
	path = sub/d3.parsets
	url = https://github.com/medea-project/d3-parsets.git
[submodule "sub/contour-plot"]
	path = sub/contour-plot
	url = https://github.com/medea-project/contour-plot.git
[submodule "sub/self-organizing-map"]
	path = sub/self-organizing-map
	url = https://github.com/medea-project/self-organizing-map.git
[submodule "sub/stacked-to-grouped-bars"]
	path = sub/stacked-to-grouped-bars
	url = https://github.com/medea-project/stacked-to-grouped-bars.git
[submodule "sub/sunburst-partition"]
	path = sub/sunburst-partition
	url = https://github.com/medea-project/sunburst-partition.git
[submodule "sub/cluster-dendogram"]
	path = sub/cluster-dendogram
	url = https://github.com/medea-project/cluster-dendogram.git
[submodule "sub/bubble-chart"]
	path = sub/bubble-chart
	url = https://github.com/medea-project/bubble-chart.git
[submodule "sub/streamgraph"]
	path = sub/streamgraph
	url = https://github.com/medea-project/streamgraph.git
[submodule "sub/circle-packing"]
	path = sub/circle-packing
	url = https://github.com/medea-project/circle-packing.git
[submodule "sub/wbgds"]
	path = sub/wbgds
	url = https://github.com/medea-project/wbgds.git
[submodule "sub/scatterplot"]
	path = sub/scatterplot
	url = https://github.com/medea-project/scatterplot.git
[submodule "sub/stacked-area-chart"]
	path = sub/stacked-area-chart
	url = https://github.com/medea-project/stacked-area-chart.git
[submodule "sub/ipcc.projetmedea.fr"]
	path = sub/ipcc.projetmedea.fr
	url = https://github.com/medea-project/ipcc.projetmedea.fr.git
[submodule "sub/gss"]
	path = sub/gss
	url = https://github.com/the-gss/engine.git
